{% extends "base.html" %}
{% load static %}
{% block title %}
    404
{% endblock title %}
{% block content %}
    <div class="bg-gray-800 text-white min-h-screen flex flex-col">
        <div class="flex-grow p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72">
            <div class="p-5 grid place-items-center min-h-[80vh] text-center">
                <p style="font-family: Poppins-Bold"
                   class="my-4 text-6xl font-extrabold">404</p>
                <p>
                    😕 Ops! Não consegui encontrar a página que você procura.
                    <br>
                    Talvez ela tenha sido removida, ou nunca existiu.
                </p>
            </div>
            <div class="text-xl p-5 grid grid-cols-1 place-items-center items-center md:grid-cols-2 gap-x-6">
                <div onclick="{% url 'home' %}"
                     class="shadow-lg hover:scale-105 hover:transform transition duration-300 cursor-pointer bg-gray-900 rounded-lg h-40 w-full my-4 text-center p-5 grid place-items-center">
                    <div>
                        <p class="text-4xl my-2">🏠</p>
                        <p class="text-base">Voltar para a Home</p>
                    </div>
                </div>
                <div onclick="{% url 'categories' %}"
                     class="shadow-lg hover:scale-105 hover:transform transition duration-300 cursor-pointer bg-gray-900 rounded-lg h-40 w-full my-4 text-center p-5 grid place-items-center">
                    <div>
                        <p class="text-4xl my-2">📝</p>
                        <p class="text-base">Visitar o Blog</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
