{% extends "base.html" %}
{% load static %}
{% block title %}Erro 500{% endblock %}
{% block content %}
    <div class="bg-gray-800 text-white min-h-screen flex flex-col">
        <div class="flex-grow p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72">
            <div class="p-5 grid place-items-center min-h-[80vh] text-center">
                <p style="font-family: Poppins-Bold"
                   class="my-4 text-5xl font-extrabold md:text-8xl">500</p>
                <p class="">😕 Ops! Ocorreu um erro interno no servidor.</p>
            </div>
            <div class="text-xl p-5 grid grid-cols-1 place-items-center items-center md:grid-cols-3 gap-x-4">
                <div onclick="location.href='/';"
                     style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05)"
                     class="hover:scale-105 hover:transform transition duration-300 cursor-pointer bg-gray-900 rounded-lg h-40 w-full my-4 text-center p-5 grid place-items-center">
                    <div>
                        <p class="text-4xl my-2">
                            <i class="bi bi-house-door text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 to-blue-500"></i>
                        </p>
                        <p class="text-base">Voltar para a Home</p>
                    </div>
                </div>
                <div onclick="location.href='/projects';"
                     style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05)"
                     class="hover:scale-105 hover:transform transition duration-300 cursor-pointer bg-gray-900 rounded-lg h-40 w-full my-4 text-center p-5 grid place-items-center">
                    <div>
                        <p class="text-4xl my-2">
                            <i class="bi bi-code-slash text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 to-blue-500"></i>
                        </p>
                        <p class="text-base">Ver Projetos</p>
                    </div>
                </div>
                <div onclick="location.href='/blog';"
                     style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05)"
                     class="hover:scale-105 hover:transform transition duration-300 cursor-pointer bg-gray-900 rounded-lg h-40 w-full my-4 text-center p-5 grid place-items-center">
                    <div>
                        <p class="text-4xl my-2">
                            <i class="bi bi-journal-text text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 to-blue-500"></i>
                        </p>
                        <p class="text-base">Ver Blog</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
