{% extends "base.html" %}
{% load static %}
{% block title %}
  Projetos
{% endblock title %}
{% block content %}
  <div class="bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60">
    <p style="font-family: Poppins-Bold"
       class="text-4xl font-extrabold py-5 text-center md:text-start">🚀 Projetos</p>
    <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05)"
         class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg">
      <img class="post-img-url rounded-lg object-cover"
           width="350px"
           height="180px"
           src="{% static 'images/glassdoor_reviews_report.png' %}"
           alt="Análise de Sentimentos em Avaliações do Glassdoor">
      <div>
        <span class="text-blue-100 hover:text-blue-300 transition duration-300 text-xl font-extrabold">
          Análise de Sentimentos em Avaliações do Glassdoor
        </span>
        <p class="text-justify my-3">
          Ferramenta para análise de sentimentos, utilizando ajuste fino do modelo BERTimbau, para classificar emoções em avaliações
          do Glassdoor de empresas de TI de Cuiabá.
        </p>
        <p class="text-justify my-3">
          O projeto inclui automação da coleta de dados, treinamento de modelos da arquitetura Transformer e visualização interativa dos resultados em um dashboard intuitivo.
        </p>
        <ul class="mb-3">
          <li>&#9989; Coleta automatizada de dados do Glassdoor</li>
          <li>&#9989; Treinamento e ajuste fino de modelos Transformer</li>
          <li>&#9989; Dashboard interativo para análise dos resultados</li>
        </ul>
        <span class="text-lg font-bold">Principais tecnologias usadas</span>
        <br>
        <div class="flex flex-wrap gap-2 md:gap-4 my-3">
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-brands fa-python"></i>
            Python
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-fire-flame-curved"></i>
            PyTorch
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-database"></i>
            Pandas
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-chart-line"></i>
            Matplotlib
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-chart-line"></i>
            Seaborn
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-bolt"></i>
            Streamlit
          </span>
        </div>
        <div class="flex space-x-4 my-3">
          <a href="https://github.com/stevillis/glassdoor-reviews-report/"
             target="_blank">
            <button class="bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3">
              <i class="bi bi-github"></i>
              Github
            </button>
          </a>
          <a href="https://glassdoor-reviews-report.streamlit.app/"
             target="_blank">
            <button class="bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3">
              Demo
              <i class="bi bi-box-arrow-up-right"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05)"
         class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg">
      <img class="post-img-url rounded-lg object-cover"
           width="350px"
           height="180px"
           src="{% static 'images/stevillis_site.png' %}"
           alt="Site para pessoal para cadastrar cursos e formações">
      <div>
        <span class="text-blue-100 hover:text-blue-300 transition duration-300 text-xl font-extrabold">
          Gestor Pessoal de Cursos
        </span>
        <p class="text-justify my-3">
          Aplicação web para gerenciar e visualizar cursos e formações da minha trajetória profissional.
        </p>
        <p class="text-justify my-3">
          Permite cadastrar, editar e consultar informações de cursos, categorias, instituições e formações, com interface administrativa e
          visualização pública.
        </p>
        <ul class="mb-3">
          <li>&#9989; Cadastro e edição de cursos e formações</li>
          <li>&#9989; Interface administrativa via Django Admin</li>
          <li>&#9989; Visualização pública dos dados</li>
        </ul>
        <span class="text-lg font-bold">Principais tecnologias usadas</span>
        <br>
        <div class="flex flex-wrap gap-2 md:gap-4 my-3">
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-brands fa-python"></i>
            Python
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-brands fa-python"></i>
            Django
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-database"></i>
            PostgreSQL
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-brands fa-css3-alt"></i>
            Tailwind CSS
          </span>
        </div>
        <div class="flex space-x-4 my-3">
          <a href="https://github.com/stevillis/stevillis-site" target="_blank">
            <button class="bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3">
              <i class="bi bi-github"></i>
              Github
            </button>
          </a>
          <a href="https://stevillis.up.railway.app/" target="_blank">
            <button class="bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3">
              Demo
              <i class="bi bi-box-arrow-up-right"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05)"
         class="flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg">
      <img class="post-img-url rounded-lg object-cover"
           width="350px"
           height="180px"
           src="{% static 'images/titanic_data_viz.png' %}"
           alt="Análise de Dados do Titanic">
      <div>
        <span class="text-blue-100 hover:text-blue-300 transition duration-300 text-xl font-extrabold">
          Análise de Dados do Titanic
        </span>
        <p class="text-justify my-3">
          Análise dos dados do naufrágio do Titanic, destacando como fatores como idade, sexo, classe social e local de embarque
          influenciaram as chances de sobrevivência dos passageiros.
        </p>
        <p class="text-justify my-3">
          Pré-processamento dos dados, gráficos dinâmicos e um modelo preditivo baseado em regressão logística para estimar a probabilidade de sobrevivência.
        </p>
        <ul class="mb-3">
          <li>&#9989; Pré-processamento dos dados</li>
          <li>&#9989; Histogramas, mapas de calor</li>
          <li>&#9989; Modelo preditivo de sobrevivência com regressão logística</li>
        </ul>
        <span class="text-lg font-bold">Principais tecnologias usadas</span>
        <br>
        <div class="flex flex-wrap gap-2 md:gap-4 my-3">
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-brands fa-python"></i>
            Python
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-database"></i>
            Pandas
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-chart-line"></i>
            Matplotlib
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-chart-line"></i>
            Seaborn
          </span>
          <span class="text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full whitespace-nowrap">
            <i class="fa-solid fa-bolt"></i>
            Streamlit
          </span>
        </div>
        <div class="flex space-x-4 my-3">
          <a href="https://github.com/stevillis/titanic-data-viz/" target="_blank">
            <button class="bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3">
              <i class="bi bi-github"></i>
              Github
            </button>
          </a>
          <a href="https://stevillis-titanic-data-viz.streamlit.app/"
             target="_blank">
            <button class="bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3">
              Demo
              <i class="bi bi-box-arrow-up-right"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <a href="https://github.com/stevillis" target="_blank">
        <button class="bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-blue-600 transition delay-75 ease-in-out my-3">
          Ver mais
        </button>
      </a>
    </div>
  </div>
{% endblock %}
